In [1]:
import PyPDF2
import tabula
import camelot

In [3]:
pdfFileObj = open('downloads.pdf', 'rb')
  
# creating a pdf reader object
pdfReader = PyPDF2.PdfFileReader(pdfFileObj)
  
# printing number of pages in pdf file
print(pdfReader.numPages)
  
# creating a page object
pageObj = pdfReader.getPage(0)
  
# extracting text from page
print(pageObj.extractText())
  
# closing the pdf file object
pdfFileObj.close()

2
DAFTAR KLAIM JAMINAN KECELAKAAN KERJA PENERIMA UPAHBERDASARKAN TANGGAL KLAIMPeriode :01-01-2010s/d31-03-2021Halaman           :Tanggal Cetak  :Waktu Cetak    : 22-04-202108:50DA245640PNR20161/2AA0019431603741316035511AA002826JJ067504160374131708329417115279NPPNPPNPPHYUNDAI ENGINEERING & CONSTRUCTION CO.PLD P3MD PROVINSI ACEHTENAGA AHLI P3MD PROVINSI ACEHAKMAL ABADI (SPBU)BANK TABUNGAN PENSIUNAN NASIONAL SYARIAHPLD P3MD PROVINSI ACEHARIATI CVGAMPONG BATU XII KEC, COT GIREK KAB. ACEH UTARA-APARAT DESANama PerusahaanNama PerusahaanNama Perusahaan1500061364416021878372160129659641605284877317041878814160218780421703569485418090482433No. ReferensiNo. ReferensiNo. ReferensiSURIA EFENDIMUNAWAREPENDIANSYARM AMIN SALEHELI DARMAHERI WISMA SARIANTOIRWAN PWZULKARNAININama PesertaNama PesertaNama PesertaKL18030207492338KL18111904293224KL18111904292958KL18111904293280KL18021804942663KL18111904293047KL18021805147210KL18021805147852KL18021805148779KL18021805142679KL20082509315906No. AgendaTahap 1No. AgendaTahap 1No. AgendaTahap 102-03-201819-11-201819-11-201819-11-201829-01-201819-11-201820-12-201225-03-201330-09-201328-12-201725-08-2020TanggalRekamTanggalRekamTanggalRekamAGENDA_TAHAP_IAGENDA_TAHAP_IAGENDA_TAHAP_IAGENDA_TAHAP_IAGENDA_TAHAP_IAGENDA_TAHAP_IAGENDA_TAHAP_IAGENDA_TAHAP_IAGENDA_TAHAP_IAGENDA_TAHAP_IAGENDA_TAHAP_IStatus KlaimStatus KlaimStatus KlaimTR162810SY150700SY150700SY150700SY150700SY150700AD148220AD148220AD148220NA278550IN259210NoNoNoPetugasPetugasPetugasTanggalKecelakaanTanggalKecelakaanTanggalKecelakaan25-01-201814-09-201805-11-201822-10-201826-01-201805-11-201820-12-201225-03-201330-09-201317-11-201720-08-2020Kantor Wilayah :Kantor Wilayah :Kantor Wilayah :Kantor Cabang :Kantor Cabang :Kantor Cabang :A00 - LHOKSEUMAWEA00 - LHOKSEUMAWE1 - GROUP KONSOLIDASI KANWIL SUMBAGUTA06 - ACEH TENGAH TAKENGONA08 - BIREUN KOTA JUANGA00 - LHOKSEUMAWEA06A01A01A08J06A01A08A00Cabang KepesertaanCabang KepesertaanCabang KepesertaanTanggalLaporTanggalLaporTanggalLapor25-01-201814-09-201805-11-201823-10-201829-01-201805-11-201828-12-201725-08-2020Kode Klaim IndukKode Klaim IndukKode Klaim Induk12345666678

In [9]:
file = "downloads.pdf"
table = tabula.read_pdf(file,pages=1,stream=True)
table[0]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Cabang,No. Agenda,Kode Klaim,Tanggal,Tanggal.1,Tanggal.2,Status Klaim,Petugas
0,No,NPP,Nama Perusahaan,No. Referensi,Nama Peserta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,Kepesertaan,Tahap 1,Induk,Rekam,Kecelakaan,Lapor,NaN,NaN
2,1,AA001943,HYUNDAI ENGINEERING &,15000613644,SURIA EFENDI,A06,KL18030207492338,NaN,02-03-2018,25-01-2018,25-01-2018,AGENDA_TAHAP_I,TR162810
3,NaN,NaN,CONSTRUCTION CO.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# PDF file to extract tables from
file = "downloads.pdf"
tables = camelot.read_pdf(file, strip_text='\n')
# number of tables extracted
print("Total tables extracted:", tables.n)
# print the first table as Pandas DataFrame
print(tables[1].df)

Total tables extracted: 3
    0         1                                         2              3   \
0   No       NPP                           Nama Perusahaan  No. Referensi
1  2 3  16037413                    PLD P3MD PROVINSI ACEH    16021878372
2       16035511            TENAGA AHLI P3MD PROVINSI ACEH    16012965964
3  4 5  AA002826                        AKMAL ABADI (SPBU)    16052848773
4       JJ067504  BANK TABUNGAN PENSIUNAN NASIONAL SYARIAH    17041878814
5    6  16037413                    PLD P3MD PROVINSI ACEH    16021878042

                    4                   5                  6   \
0         Nama Peserta  Cabang Kepesertaan  No. AgendaTahap 1
1              MUNAWAR                 A01   KL18111904293224
2         EPENDIANSYAR                 A01   KL18111904292958
3         M AMIN SALEH                 A08   KL18111904293280
4            ELI DARMA                 J06   KL18021804942663
5  HERI WISMA SARIANTO                 A01   KL18111904293047

                 7             8                  9             10  \
0  Kode Klaim Induk  TanggalRekam  TanggalKecelakaan  TanggalLapor
1                      19-11-2018         14-09-2018    14-09-2018
2                      19-11-2018         05-11-2018    05-11-2018
3                      19-11-2018         22-10-2018    23-10-2018
4                      29-01-2018         26-01-2018    29-01-2018
5                      19-11-2018         05-11-2018    05-11-2018

               11        12
0    Status Klaim   Petugas
1  AGENDA_TAHAP_I  SY150700
2  AGENDA_TAHAP_I  SY150700
3  AGENDA_TAHAP_I  SY150700
4  AGENDA_TAHAP_I  SY150700
5  AGENDA_TAHAP_I  SY150700

In [4]:
# export individually
tables[0].to_csv("test1.csv")   # Tabele 1
tables[1].to_csv("test2.csv")   # Tabele 2
tables[2].to_csv("test3.csv")   # Tabele 3